<!DOCTYPE html>
<html>
<head>
    <title>Авторизация через Google</title>
    <meta name="google-signin-client_id" content="{{GOOGLE_CLIENT_ID}}">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>
<h1>Авторизация через Google</h1>
<div id="g_id_onload"
     data-client_id="{{GOOGLE_CLIENT_ID}}"
     data-login_uri="https://{API_LOCATION}{SWAP_TOKEN_ENDPOINT}"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-size="large"
     data-theme="outline"
     data-text="sign_in_with"
     data-shape="rectangular"
     data-logo_alignment="left">
</div>

<script>
    console.log("start debug")
    window.onload = function () {
        console.log("test1")
        gapi.load('auth2', function () {
            gapi.auth2.init();
        });
        console.log("test2")

    };

    function onSuccess(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;
        // отправка токена на сервер для проверки и авторизации
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{API_LOCATION}{SWAP_TOKEN_ENDPOINT}');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.setRequestHeader('X-Google-OAuth2-Type', 'client');
        xhr.onload = function () {
            if (xhr.status === 200) {
                location.href = '{API_LOCATION}{SUCCESS_ROUTE}';
            } else {
                location.href = '{API_LOCATION}{ERROR_ROUTE}';
            }
        };
        xhr.send('id_token=' + id_token);
    }

    function onFailure(error) {
        console.log(error);
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>

<div><br></div>
<a href="#" onclick="signOut();">Sign out</a>
</body>
</html>